GRAFANA_DOCKER_USER=
GRAFANA_USER=
GRAFANA_PASS=

INFLUXDB_ADMIN_USER=
INFLUXDB_ADMIN_PASS=
INFLUXDB_ADMIN_TOKEN=

INFLUXDB_BUCKET=
INFLUXDB_ORG=
INFLUXDB_URL=

LOKI_URL=
LOKI_URL_PUSH=

TELEGRAF_USER=