data/grafana/*
data/grafana/**/**

data/influxdb/*
data/influxdb/**/**

data/loki/*

data/prometheus/*
data/prometheus/**/**

data/promtail/*
data/promtail/**/**

data/telegraf/*
data/telegraf/**/**

data/alloy/*
data/alloy/**/**

.env
.env.*